<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core"/>
    <section name="Logging" type="NServiceBus.Config.Logging, NServiceBus.Core" />
  </configSections>  
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="error"/>
  <UnicastBusConfig>
    <MessageEndpointMappings>
      
      <!-- 
      Any messages in the _2013.April.NServiceBus.Messages dll 
      _2013.April.NServiceBus.ServerOrderProcessing should be routed to the endpoint
      -->
      <add Messages="_2013.April.NServiceBus.Messages" Endpoint="_2013.April.NServiceBus.ServerOrderProcessing"/>

      <!-- 
      Subscriber config
      Any events in the _2013.April.NServiceBus.Events dll should be subscribed to via the
      _2013.April.NServiceBus.ServerFulfillment endpoint
      -->
      <add Messages="_2013.April.NServiceBus.Events" Endpoint="_2013.April.NServiceBus.ServerFulfillment"/>
    </MessageEndpointMappings>
  </UnicastBusConfig>
  <Logging Threshold="WARN" />
</configuration>